body {
    background-image: url("../assets/image3.jpg");
    background-repeat: no-repeat;
    background-size: 100%;
    background-attachment: fixed;
    font-family: 'comic sans MS'; 
}

.contain {
    margin: 10em 2em;
    width: min-content;
    background-blend-mode: lighten;
    background-color: whitesmoke;
    height: max-content;
}

.title {
    position: relative;
    width: max-content;
    top: 25px;
    left: 150px;
}

h1 span {
    font: 36px MonoSpace;
    height: 200px;
    position: absolute;
    width: 20px;
    margin-top: 215px;
    margin-left: 100%;
    transform-origin: bottom center;
    font-weight: 100;
    padding: 10px;
}

h1 {
    color: rgb(8, 73, 19);
    text-align: center;
    width: max-content;
    height: max-content;
    padding: 10px;
    text-transform: uppercase;
}

.choice {
    text-align: center;
    text-transform: uppercase;
    display: flex;
    border: 1px solid rgb(146, 41, 14);
}

.choice:after {
    content: "";
    clear: both;
}

.entry{
    border: 5px solid rgb(146, 41, 14);
    width: 500px;
}

.col {
    float: left;
    width: 50%;
    text-decoration: none;
    background-color:rgb(252, 208, 208);
    padding: 1em;
    color: rgb(146, 41, 14);
}

.borderSignup {
    border-right: 2px solid rgb(146, 41, 14);
}

.choice>h4 {
    column-count: 2;
}

.form {
    padding: 20px;
}

.form>input {
    width: 80%;
    display: block;
    padding: 12px 20px;
    margin: 5px 0;
    border: 1px solid rgb(146, 41, 14);
}

.form>label {
    margin: 2px;
    font-size: 16px;
    color: rgb(245, 52, 4);
    font-weight: 500;
}

.form>input[type="button"] {
    margin-left: 150px;
    margin-top: 20px;
    background-color: rgb(250, 139, 95);
    border: 2px solid rgb(146, 41, 14);
    font-weight: bold;
    text-transform: uppercase;
    font-family: 'comic sans MS';
    color: rgb(32, 8, 2);
    width: max-content;
    transition: 0.5s;
}

.form>input[type="button"]:after {
    content: ">>";
    position: absolute;
    opacity: 0;  
    top: 14px;
    right: -20px;
    transition: 0.5s;
  }
  
  .form>input[type="button"]:hover{
    padding-right: 24px;
    padding-left:8px;
  }
  
  .form>input[type="button"]:hover:after {
    opacity: 1;
    right: 10px;
  }

.name{
    margin-left: 650px;
    top: 200px;
    height: 250px;
    width: 400px;
    border-radius: 45%;
    opacity: 0.9;
    position: fixed;
}

h1.title[class*="word"]{
    margin: 0px 10px 0 0 ;
    }
        
    .title [class*="char"]{
    font-family: 'Open Sans';
    color: rgb(248, 95, 35);
    font-weight: normal;
    margin-top: 60px;
    font-size: 50px;
    padding: 15px;
    background: rgb(238, 146, 118);
    display: inline-block;
    }
     
     
    .title [class*="char"]:nth-child(odd){
    transform: skewY(-11deg);
    }
     
    .title [class*="char"]:nth-child(even){
    color: #661a1a;
    background: #c75555;
    transform: skewY(5deg);
    }
